[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scikit-image = "==0.17.2"
scipy = "*"
colorednoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
